:root {
  --bord: 10px;
  --padd: 10px;
  --mar: 10px;
  --prim: rgb(0, 255, 85);
  --sec: rgb(68, 1, 88);
  --bgcol: rgb(43, 43, 43);
  ---scale: 1.05;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition-duration: 100ms;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.button,
.soc {
  font-size: 1em;
  border: none;
  border-radius: var(--bord);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: var(--padd);
}
.button {
  background-color: var(--prim);
}
.button:hover,
.soc:hover {
  scale: var(---scale);
}
.button:active,
.soc:active {
  scale: 1;
}

body {
  background-color: var(--bgcol);
  overscroll-behavior: none;
  height: 100vh;
  width: 100vw;
  font-size: 150%;
}

#header {
  height: 10vh;
  background-color: var(--sec);
  justify-content: space-between;
  padding: 1vh 3vw;
  color: white;
}
#mainbody {
  height: 80vh;
  justify-content: space-evenly;
}
#footer {
  justify-content: space-around;
  background-color: var(--sec);
  height: 10vh;
  color: white;
}

#centerbtnbox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#heading {
  font-size: 130%;
  font-weight: 600;
  font-style: oblique;
}

.logoimg {
  width: 5vw;
  aspect-ratio: 1/1;
}

#heroImg {
  height: 50%;
  width: 80%;
  background-color: aqua;
  background-image: url("/public/res/img1.webp");
  background-size: cover;
  font-size: 200%;
  font-weight: bolder;
  font-style: oblique;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: var(--bord);
}
#herotext {
  text-shadow: 5px 4px 11px rgb(255, 0, 0);
  padding: var(--padd);
}
#btnrow {
  height: 10%;
}
#quotesbox {
  height: 30%;
  width: 90%;
  background-color: rgb(3, 37, 46);
  border-radius: var(--bord);
  color: white;
  font-size: 170%;
  font-weight: 600;
  text-align: center;
  padding: var(--padd);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.soc {
  border-radius: 50%;
  user-select: none;
  width: 50%;
}

.socialbtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

a {
  color: black;
  text-decoration: none;
}

#terms {
  width: 45%;
}
#icons {
  width: 45%;
}
.soc img {
  width: 50px;
  height: 50px;
}
.iconname {
  font-size: 50%;
  font-weight: bold;
  padding-top: 10px;
}
#quotes {
  transition: opacity 1s ease-in-out;
}
.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}
#icontext {
  font-weight: bold;
}
#iconrow {
  width: 50%;
  display: flex;
  flex-direction: row;
}

#terms a {
  color: rgb(13, 172, 172);
  text-decoration: none;
}

#donationForm {
  background-color: #fff;
  width: 80%;
  border-radius: var(--bord);
  padding: var(--padd);
}

.donatecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  margin: 1vh 0px;
  width: 80%;
  height: 70%;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#detailscontainer {
  width: 80%;
  height: 20%;
  background-color: #fff;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin: 2vh;
}

label {
  display: flex;
  width: 35%;
}

#aboutUS:hover::after {
  content: "This web app is dedicated to assisting people in need of blood to sustain life. Crafted using HTML, CSS, and JS, this project is a collaborative effort by Anjitha, Navaneeth, and Akarsh, ECE students from GEC TSR.";
  color: #fff;
  background-color: #000;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  width: 60vw;
  top: 9vh;
  left: 38vw;
  z-index: 1;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.userdetailbox {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: var(--bord);
  background-color: rgb(17, 17, 17);
  margin: 2vw;
  color: #fff;
}

#users {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 2vh;
  height: 70%;
  overflow: scroll;
}

.author {
  display: block;
  text-align: right;
  color: rgb(31, 100, 100);
}
.spacebetween {
  justify-content: space-between;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select,
textarea {
  font-size: large;
  width: clamp(400px, 40%, 700px);
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  line-height: 1.5;
  font-family: "Arial", sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
}

.userbtn {
  background-color: var(--prim);
  border-radius: var(--bord);
  font-size: 110%;
  padding: 4px;
  border: none;
  margin: 5px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 500px) {
  .form-group {
    flex-direction: column;
  }
  .donatecontainer {
    width: 100%;
    margin: 0px;
    padding: 5px;
  }
  #detailscontainer {
    width: 95%;
  }

  .logoimg {
    width: 5vh;
    aspect-ratio: 1/1;
  }

  #heroImg {
    height: 50%;
    width: 95%;
  }
  #header {
    height: 17vh;
  }

  label {
    width: 100%;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  select,
  textarea {
    width: 100%;
    background-color: #ccc;
  }

  .button {
    background-color: #8a0a0a;
    border-radius: var(--bord);
    font-size: 20px;
    padding: var(--padd);
    width: 40vw;
  }

  #footer {
    flex-direction: column;
    height: auto;
    text-align: center;
    height: 280px;
  }
  #terms {
    width: 95%;
    font-size: 100%;
  }
  #icons {
    flex-direction: column;
    width: 95%;
  }
  #iconrow {
    width: 100%;
  }

  .soc img {
    width: 30px;
    height: 30px;
  }
  #quotesbox {
    font-size: 100%;
  }
  #donationForm {
    width: 95%;
  }
  .form-group {
    width: 100%;
    margin: 0px;
    padding: 5px;
  }
}
